html, body{
    margin: 0px;
    background-color: #018305;
    width: 100%;
    height: 100%;
}

.webpack-logo{
    width: 20%;
}

.titulo{
    text-align: center;
    background-color: black;
    color:white;
    padding:20px;
    font-size: 25px;
}

.carta{
    width: 150px;
    position:relative;
    left: 150px;
    margin-left: -75px;
}

#jugador-cartas, #computadora-cartas{
    height: 220px;
    position: block;
}